.manager {

  &__quite {
    position: fixed;
    top: 20px;
    left: 90%;

    @media (min-width: 1000px) {
      left: 70%;
    }
  }

  &__passwords {
    margin-top: 16px;
  }
  &__button {
    margin-right: 8px;
  }

  &__list-item {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &__editor {
    position: absolute;
    top: 0;
    left: 300px;

    @media (max-width: 500px) {
      left: 0;
    }
  }
}
