#root {
  margin: 0 auto;
  max-width: 1200px;

  font-family: Roboto, sans-serif;
  color: #000000bb;
}

.button {
  height: 40px;

  font-weight: 500;
  font-size: 16px;

  font-family: inherit;
  color: #0000008d;

  background-color: #fff;

  border: 3px solid #8460bd;
  border-radius: 8px;

  transition: all 0.4s;

  cursor: pointer;

  &:hover {
    background-color: #b35bf2;
  }

  &:active {
    background-color: #afd067c0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  position: relative;

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__input {
    height: 25px;

    border: 2px solid #7843cd;
    border-radius: 8px;
    
    &:hover {
      border-color: #390095;
    }

    &:focus {
      outline: 2px solid rgba(78, 0, 187, 0.6);
    }

    &--error {
      border-color: #ff0000;

      &:hover {
        border-color: #ff0000;
      }

      &:focus {
        outline: 2px solid #ff0000;
      }
    }
  }

  &__message-error {
    position: absolute;
    top: 63px;

    font-weight: bold;
    color: #ff0000;
  }

  &__message--success {
    position: absolute;
    top: 103px;

    font-weight: bold;
    color: #0db40d;
  }
  
  &--editor {
    height: 150px;
    margin-top: 9px;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.App {
  margin: 0 auto;

  &__buttons {
    margin: 0 auto;

    width: 300px;

    display: flex;
    gap: 20px;
    justify-content: center;
  }
}